[Unit]
Description=LoRa Gateway Bridge
Documentation=https://lo-ra.net/
Wants=network-online.target
After=network-online.target

[Service]
User=gatewaybridge
Group=gatewaybridge
ExecStart=/usr/bin/lora-gateway-bridge
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=lora-gateway-bridge.service
